#contactGlobal {
  // min-height: 100vh;
  #globalCards {
    display: grid;
    justify-content: center;
    margin: 50px 0 0 0;
    // padding: 0 0 25px 0;
    .contactCards {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 90vw;
      min-height: 10vh;
      background: #ffffff;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
      border-radius: 15px;
      border: none;
      margin: 0 0 20px 0;
      .infoContactCards {
        display: flex;
        align-items: center;
        padding: 15px 0 15px 0;
        a,
        a:visited,
        a:hover,
        p {
          font-family: $content-font;
          color: $content-font-color;
          font-size: 20px;
        }
        gap: 20px;
      }
      .formContactCard {
        display: flex;
        padding: 15px 0 15px 0;
        h2 {
          font-family: $content-font;
          font-size: 20px;
          font-weight: 400;
        }
        img {
          margin: 0 20px 0 20px;
        }
        #switchButton {
          display: flex;
          align-items: center;
          #proAndPart {
            display: flex;
          }
          p {
            margin: 0 20px 0 20px;
            font-family: $content-font;
          }
        }

        // le code en dessous concerne le switch (jusqu'à la ligne 107)
        .switch {
          position: relative;
          display: inline-block;
          width: 47px;
          height: 21px;
        }

        // Hide default HTML checkbox
        .switch input {
          opacity: 0;
          width: 0;
          height: 0;
        }

        // The slider
        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #62a1cc;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }

        .slider:before {
          position: absolute;
          content: "";
          height: 13px;
          width: 13px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }

        input:checked + .slider {
          background-color: #62a1cc;
        }

        input:focus + .slider {
          box-shadow: 0 0 1px #62a1cc;
        }

        input:checked + .slider:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
        }

        // Rounded sliders
        .slider.round {
          border-radius: 34px;
          // border: 1px solid black;
        }

        .slider.round:before {
          border-radius: 50%;
          // border: 1px solid black;
        }
        // le code au dessus concerne le switch
      }

      .inputAlone {
        display: flex;
        flex-direction: column;
        margin: 30px 21px 0 20px;
        label {
          margin: 0 0 10px 0;
          font-family: $content-font;
        }
        input,
        #inputMessage {
          border-radius: 5px;
          border: 1px solid #62a1cc;
          width: 100%;
          max-width: 100%;
        }
        input:focus,
        #inputMessage {
          border: none;
          outline: 1px solid #62a1cc;
        }
        #inputMessage {
          height: 15vh;
        }
      }
      #inputGroup {
        display: flex;
        justify-content: space-between;
        margin: 30px 20px 0 20px;
        // width: 100%;
        .inputDouble {
          display: flex;
          flex-direction: column;
          label {
            margin: 0 0 10px 0;
            font-family: $content-font;
          }
          input {
            // border-radius: 5px;
            border: none;
            border-bottom: 1px solid #62a1cc;
            width: 40vw;
            height: 20px;
          }
          input:focus {
            border: none;
            border-radius: 5px;
            outline: 1px solid #62a1cc;
          }
        }
      }
      #buttonSubmit {
        width: 100%;
        margin: 30px 0 20px 0;
        text-align: center;

        button {
          margin: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          // border: none;
          height: 38px;
          width: 167px;
          border-radius: 10px;
          background-color: #62a1cc;
          border-color: #62a1cc;
          .swal-overlay {
            background-color: rgba(43, 165, 137, 0.45);
          }
          .swal-text,
          .swal-title {
            font-family: $content-font;
            background-color: red;
          }
          img {
            height: 18px;
            width: 21px;
            margin: 0 5px 0 0;
          }
          label {
            color: white;
            font-family: $content-font;
            font-size: 20px;
          }
        }
        p {
          padding: 15px 0 0 0;
          font-family: $content-font;
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 780px) {
  #contactGlobal {
    #globalCards {
      .contactCards {
        .infoContactCards {
          justify-content: center;
          span {
            display: none;
          }
        }
        #inputGroup {
          flex-direction: column;
          margin: 0 0 10px 20px;
          width: 90%;
          .inputDouble {
            margin: 0 0 10px 0;
            width: 100%;
            input {
              width: 100%;
            }
          }
        }
        .inputAlone {
          margin: 0 0 10px 20px;
          width: 90%;
        }
        .formContactCard {
          justify-content: center;
          #switchButton {
            flex-direction: column;
            #proAndPart {
              margin: 15px 0 0 0;
              p {
                margin: 0 8px 0 8px;
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }
}
