#footerContainer {
  display: flex;
  justify-content: center;
  #footerAlone {
    padding: 0 0 10px 0;
    width: 100%;
    text-align: center;
    font-family: $content-font;
    font-size: 18px;
  }
}
