#experienceCards {
  #titleCross {
    display: flex;
    justify-content: space-between;
    button {
      cursor: pointer;
    }
  }
  #experienceList {
    display: flex;
    justify-content: center;
  }
  width: 95vw;
  height: 52vh;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  border: none;
  h1 {
    font-family: $content-font;
    font-weight: 400;
    color: $content-font-color;
    margin: 10px 0 0 15px;
    font-size: 24px;
  }
  h2 {
    font-family: $content-font;
    font-weight: 600;
    margin: 0 0 0 15px;
  }
  p {
    font-family: $content-font;
    margin: 0 0 0 15px;
    font-weight: 400;
  }
  #carrouselCross {
    height: 40px;
    margin: 10px 15px 0 0;
    border: none;
    background-color: initial;
  }
  #experienceCardAlone {
    border: 2px solid #f3dfb9;
    border-radius: 15px;
    width: 28vw;
    height: 42vh;
    margin: 5px 0 0 20px;
    li {
      font-family: $content-font;
      padding: 0 10px 0 0;
    }
  }
  .numberExperienceCard {
    transform: translateY(-50%) translateX(-50%);
    margin: 0 0 -20px 0;
  }
  // #textExperienceCard {
  //   padding-top: -20px;
  // }
  .experienceCardGroup {
    .experienceCardsTogether {
      border: 2px solid #f3dfb9;
      border-radius: 15px;
      width: 28vw;
      margin: 5px 0 20px 20px;
      padding: 0 0 5px 0;
    }
  }
}
