* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  list-style-type: none;
  text-decoration: none;
  // border: 2px solid red;
}
body {
  background-image: url("./assets/background.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#appContainer {
  width: 100%;
  min-height: calc(100vh - 42px);
}
