@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");

$content-font: "Lato", sans-serif;
$primary-color: #62a1cc;
$secondary-color: #e1af50;
$border-color: #f3dfb9;
$main-title: "League Gothic", sans-serif;
$second-title: "League Gothic", sans-serif;
