@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");

$content-font: "Lato", sans-serif;
$content-font-color: #62a1cc;
$main-title: "League Gothic", sans-serif;
$second-title: "League Gothic", sans-serif;
